<div class="container my-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2 class="text-center h2">Listado de productos HBS</h2>

      <table class="table table-light table-hover">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Foto</th>
                </tr>
                {{#each array}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{price}}</td>
                    <td><img src="{{thumbnail}}" style="max-height: 30px; vertical-align:middle;"></td>
                </tr>
                {{/each}}
            </table>


    </div>
  </div>
</div>

